$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green: rgb(86, 190, 86);
$stone: rgb(36, 41, 59);
$hibiscus: rgb(169, 34, 92);
$tradewind: rgb(90, 186, 174);
$tanhide: rgb(248, 158, 92);
$coral: rgb(255, 126, 74);
